extends ../layouts/main

block head
  link(rel='stylesheet', href='/assets/css/signin.css')
  script(type="text/javascript", src='/assets/js/signin.js')

block content
  .signin_container
    .adv
      .topic
        h3.main_text Войдите или зарегестриуйтесь, чтобы начать
        .sub_text На нашем сайте вы можете общаться с интересными людьми и заводить новые знакомства
      .adv_image
        img(src="/assets/images/faces.jpg", alt="Лица")
    .auth_reg_forms
      .auth_form
        h3.form_name
          | Вход
        form(action="/sign_in/", method="post")
          label(for="login") Логин
          br
          input(type="text", name="login", id='login', placeholder="Логин")
          br
          br
          label(for="pass") Пароль
          br 
          input(type="text", name="pass", id='pass', placeholder="Пароль")
          input(type="hidden" name="_csrf" value= csrfToken)
          br
          button(type="submit", name="button", class="button") Войти
      .reg_form
        h3.form_name
          | Регистрация
        form(action="/sign_up", method="post")
          label(for="login") Логин
          br      
          input(type="text", name="login", id="login", placeholder="Логин")
          br
          br
          label(for="name") Имя
          br
          input(type="text", name="name", id="name", placeholder="Имя")
          br
          br
          label(for="email") Эл.почта
          br
          input(type="text", name="email", id="email", placeholder="Эл.почта")
          br
          br
          label(for="pass") Пароль
          br
          input(type="text", name="pass", id="pass", placeholder="Пароль")
          br
          br
          label(for="conf_pass") Подтверждение
          br
          input(type="text", name="conf_pass", id="conf_pass", placeholder="Подтвердите пароль")
          br
          button(type="submit" class="button") Отправить
