@font-face {
  font-family: "RobotoSlab";
  src: url('../fonts/RobotoSlab/hinted-RobotoSlab-Light.eot'); /* IE9 */
  src: url('../fonts/RobotoSlab/hinted-RobotoSlab-Light.eot?iefix') format('embeded-opentype'),
       url('../fonts/RobotoSlab/hinted-RobotoSlab-Light.woff') format('woff'),
       url('../fonts/RobotoSlab/hinted-RobotoSlab-Light.ttf') format('truetype'),
       url('../fonts/RobotoSlab/hinted-RobotoSlab-Light.svg') format('embeded-opentype'); /* IE6 - IE8 */
}


@font-face {
  font-family: "Lobster";
  src: url('../fonts/Lobster/Lobster.eot'); /* IE9 */
  src: url('../fonts/Lobster/Lobster.eot?iefix') format('embeded-opentype'),
       url('../fonts/Lobster/Lobster.ttf') format('truetype');
  font-weight: 200;
 	font-style: normal;
}
