// - let chunkNative = htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.msg];
// - let chunkVendors = htmlWebpackPlugin.files.chunks['vendors'];
//   if chunkNative && chunkVendors
//     if chunkNative['entry'] && chunkVendors['entry']
//       script( src=chunkNative['entry'] )
//       script( src= chunkVendors['entry'] )
