block variables
  - let users = [ {_id : '34242342424', name: 'Oleg', login: 'Debisov', email: 'debisov@mail.ru', password: 'sfhdfhd776hfhfh9945345'},{_id : '34242342424', name: 'Oleg', login: 'Debisov', email: 'debisov@mail.ru', password: 'sfhdfhd776hfhfh9945345'},{_id : '34242342424', name: 'Oleg', login: 'Debisov', email: 'debisov@mail.ru', password: 'sfhdfhd776hfhfh9945345'} ];
  - let title = "Index page";
  - let images = [{ _id : "fdddfeefefe", login : "eronikita", file : "inkognito.jpg", isAvatar : false },{ _id : "5d9c4cb3c424a429556fdb8d", login : "eronikita", file : "faces.jpg", isAvatar : false },{ _id : "5d9c4cb3c424a429556fdb8d", login : "eronikita", file : "faces.jpg", isAvatar : false },{ _id : "5d9c4cb3c424a429556fdb8d", login : "eronikita", file : "faces.jpg", isAvatar : 'on' },{ _id : "5d9c4cb3c424a429556fdb8d", login : "eronikita", file : "faces.jpg", isAvatar : false }];
  - let user = {_id : '34242342424', name: 'Oleg', login: 'Debisov', email: 'debisov@mail.ru', password: 'sfhdfhd776hfhfh9945345'};
  - let login = 'Debisov';
  - let image = 'my_photo.jpg';
  - let backImage = 'inkognito.jpg';
  - let avatar = [];
  - let path = '/users/';
  - let friends = [ { images: [{ _id : "fdddfeefefe", file : "inkognito.jpg", isAvatar : false }], _id: '5dc693353b7bd8e4be9d284f', login: 'eronikita', name: 'Никита',email: 'eronikita@mail.ru'}, { images: [{ _id : "fdddfeefefe", file : "inkognito.jpg", isAvatar : false }], _id: '786785dc693353b7bd8e4b4f', login: 'elena', name: 'Елена',email: 'eronikita@yendex.ru'}];
  //- - let friends = ['valera', 'elena', 'artem', 'kirill', 'sergei', 'valera', 'elena', 'artem', 'kirill', 'sergei', 'valera', 'elena', 'artem', 'kirill', 'sergei', 'valera', 'elena', 'artem', 'kirill', 'sergei', 'sergei', 'valera', 'elena', 'artem', 'kirill', 'sergei'];
//- {_id : '34242342424', name: 'Oleg', login: 'Debisov', email: 'debisov@mail.ru', password: 'sfhdfhd776hfhfh9945345'},
  
